<div class="data-table-search">
  <div class="search-input-wrapper">
    <input type="text" placeholder="Rechercher..." data-action="input->datatable#search" data-datatable-target="searchInput" />
    <span class="clear-search" data-action="click->datatable#clearSearch" style="display: none;">
      <i class="fas fa-times"></i>
    </span>
  </div>
</div>
